# Copie este arquivo para ".env" e preencha com os valores do seu projeto Supabase
# (Settings > API no painel do Supabase)

VITE_SUPABASE_URL=https://kkntlyuklxkialqedinn.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtrbnRseXVrbHhraWFscWVkaW5uIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIxNjM1MDcsImV4cCI6MjA5NzczOTUwN30.nczD7KkYwJPQV9dezL-TcZ57jhXD4A6nc5khg36Gdr4

VITE_ADMIN_PASSWORD=teste